%tr
  %td= if defined? visitor_counter then visitor_counter + 1 else 1 end
  %td= visitor.firstname
  %td= visitor.lastname
  %td= visitor.city
  %td= visitor.country
  %td
    = link_to visitor.reservations.count, |
              { controller: :reservations, action: :index, visitor_id: visitor.id }
  %td
    = link_to "Show", visitor, role: "button", class: "btn btn-xs btn-info"
