= form_for @reservation, url: reservation_path(@reservation), html: {role: "form"} do |reservation_form|

  -# TODO: remove @reservation from reservation_form

  .form-inline

    %h3.text-primary
      Reservation

    .row.voffset4
      .col-lg-3.form-group
        = reservation_form.label :arrival, class: "control-label"
        .bfh-datepicker{:"data-format" => "d.m.y", :"data-min" => l(Date.today), :"data-date" => l(@reservation.arrival), :"data-name" => "reservation[arrival]"}

      .col-lg-3.form-group
        = reservation_form.label :departure, class: "control-label"
        .bfh-datepicker{:"data-format" => "d.m.y", :"data-date" => l(@reservation.departure), :"data-name" => "reservation[departure]"}

      .col-lg-1.form-group
        = reservation_form.label :adults, "Adults", class: "control-label"
        = reservation_form.select :adults, 1..9, value: @reservation.adults, class: "form-control"

      .col-lg-1.form-group
        = reservation_form.label :children, "Children", class: "control-label"
        = reservation_form.select :children, 0..9, value: @reservation.children, class: "form-control"

      .col-lg-2.form-group
        = reservation_form.label :bedclothes_service, "Bedclothes service", class: "control-label"
        .input-group
          = reservation_form.check_box :bedclothes_service, {}, 'true', 'false'

  .voffset5
    = render partial: 'shared/visitor', object: @reservation.visitor, as: :visitor

  .form-inline

    .form-group.voffset4
      = reservation_form.button "Send", class: "btn btn-success"
      = link_to "Cancel", { controller: 'reservations', action: 'index', future: true }, role: "button", class: "btn btn-s btn-default"
