= form_for @reservation, url: reservation_path(@reservation), html: {role: "form"} do |reservation_form|

  -# TODO: remove @reservation from reservation_form

  .form-inline

    %h3.text-primary
      Reservation

    .row.voffset4
      .col-lg-3.form-group
        = reservation_form.label :arrival, class: "control-label"
        .bfh-datepicker{:"data-format" => "d.m.y", :"data-min" => l(Date.today), :"data-date" => l(@reservation.arrival), :"data-name" => "reservation[arrival]"}

      .col-lg-3.form-group
        = reservation_form.label :departure, class: "control-label"
        .bfh-datepicker{:"data-format" => "d.m.y", :"data-date" => l(@reservation.departure), :"data-name" => "reservation[departure]"}

      .col-lg-1.form-group
        = reservation_form.label :adults, "Adults", class: "control-label"
        = reservation_form.select :adults, 1..9, value: @reservation.adults, class: "form-control"

      .col-lg-1.form-group
        = reservation_form.label :children, "Children", class: "control-label"
        = reservation_form.select :children, 0..9, value: @reservation.children, class: "form-control"

      .col-lg-2.form-group
        = reservation_form.label :bedclothes_service, "Bedclothes service", class: "control-label"
        .input-group
          = reservation_form.check_box :bedclothes_service, {}, 'true', 'false'

    %h3.text-primary.voffset6
      Visitor

    .row.form-inline.voffset4

      .col-lg-3.form-group
        = label_tag :firstname
        %div
          = @reservation.visitor.firstname

      .col-lg-3.form-group
        = label_tag :lastname
        %div
          = @reservation.visitor.lastname

    .row.form-inline.voffset4

      .col-lg-3.form-group
        = label_tag :street
        %div
          = @reservation.visitor.street

      .col-lg-3.form-group
        = label_tag :zip
        %div
          = @reservation.visitor.zip

      .col-lg-3.form-group
        = label_tag :city
        %div
          = @reservation.visitor.city

      .col-lg-3.form-group
        = label_tag :country
        %div
          = @reservation.visitor.country

    .row.form-inline.voffset4

      .col-lg-3.form-group
        = label_tag :mobile
        %div
          = @reservation.visitor.mobile

      .col-lg-3.form-group
        = label_tag :phone
        %div
          = @reservation.visitor.phone

      .col-lg-3.form-group
        = label_tag :email
        %div
          = @reservation.visitor.email

  .form-inline

    .form-group.voffset4
      = reservation_form.button "Send", class: "btn btn-success"
      = link_to "Cancel", { controller: 'reservations', action: 'index', present: true, future: true }, role: "button", class: "btn btn-s btn-default"
