= form_for :reservation, url: reservations_path, html: {role: "form"} do |reservation_form|

  .form-inline

    %h3.text-primary
      Reservation

    .row.voffset4
      .col-lg-3.form-group
        = reservation_form.label :arrival, class: "control-label"
        .bfh-datepicker{:"data-format" => "d.m.y", :"data-min" => Date.today.strftime("%d.%m.%Y"), :"data-name" => "reservation[arrival]"}

      .col-lg-3.form-group
        = reservation_form.label :departure, class: "control-label"
        .bfh-datepicker{:"data-format" => "d.m.y",:"data-date" => Date.tomorrow.strftime("%d.%m.%Y"), :"data-name" => "reservation[departure]"}

      .col-lg-1.form-group
        = reservation_form.label :adults, "Adults", class: "control-label"
        = reservation_form.select :adults, 1..9, value: 1, class: "form-control"

      .col-lg-1.form-group
        = reservation_form.label :children, "Children", class: "control-label"
        = reservation_form.select :children, 0..9, value: 0, class: "form-control"

      .col-lg-2.form-group
        = reservation_form.label :bedroom_service, "Bedclothes service", class: "control-label"
        .input-group
          = reservation_form.check_box :bedroom_service, checked: true

  = reservation_form.fields_for :visitor_attributes do |visitor_fields|

    %h3.text-primary.voffset6
      Visitor

    .row.form-inline.voffset4

      .col-lg-3.form-group
        = visitor_fields.label :firstname, class: "control-label"
        = visitor_fields.text_field :firstname, class: "form-control"

      .col-lg-3.form-group
        = visitor_fields.label :lastname, class: "control-label"
        = visitor_fields.text_field :lastname, class: "form-control"

    .row.form-inline.voffset4

      .col-lg-3.form-group
        = visitor_fields.label :street, class: "control-label"
        = visitor_fields.text_field :street, class: "form-control"

      .col-lg-3.form-group
        = visitor_fields.label :zip, class: "control-label"
        = visitor_fields.text_field :zip, class: "form-control"

      .col-lg-3.form-group
        = visitor_fields.label :city, class: "control-label"
        = visitor_fields.text_field :city, class: "form-control"

      .col-lg-3.form-group
        = visitor_fields.label :country, class: "control-label"
        = visitor_fields.country_select :country, ["Slovakia"], class: "form-control"

    .row.form-inline.voffset4

      .col-lg-3.form-group
        = visitor_fields.label :mobile, class: "control-label"
        = visitor_fields.phone_field :mobile, class: "form-control"

      .col-lg-3.form-group
        = visitor_fields.label :phone, class: "control-label"
        = visitor_fields.phone_field :phone, class: "form-control"

      .col-lg-3.form-group
        = visitor_fields.label :email, class: "control-label"
        = visitor_fields.email_field :email, class: "form-control"

  .form-inline

    .form-group.voffset4
      = reservation_form.button "Send", class: "btn btn-primary"
