= form_tag reservations_path, html: {role: 'form'} do

  .form-inline

    %h3.text-primary
      Reservation

    .row.voffset4
      .col-lg-3.form-group
        = label_tag 'reservation_arrival', 'Arrival', class: 'control-label'
        .bfh-datepicker{:id => 'reservation_arrival', |
                        :'data-format' => 'd.m.y', |
                        :'data-min' => l(@reservation.arrival), |
                        :'data-name' => 'reservation[arrival]'}

      .col-lg-3.form-group
        = label_tag 'reservation_departure', 'Departure', class: 'control-label'
        .bfh-datepicker{:id => 'reservation_departure', |
                        :'data-format' => 'd.m.y', |
                        :'data-date' => l(@reservation.departure), |
                        :'data-name' => 'reservation[departure]'}

      .col-lg-1.form-group
        = label_tag 'reservation_adults', 'Adults', class: 'control-label'
        = select_tag 'reservation[adults]', |
                     options_for_select(1..9, @reservation.adults), |
                     class: 'form-control'

      .col-lg-1.form-group
        = label_tag 'reservation_children', 'Children', class: 'control-label'
        = select_tag 'reservation[children]', |
                     options_for_select(0..9, @reservation.children), |
                     class: 'form-control'

      .col-lg-2.form-group
        = label_tag 'reservation_bedclothes_service', 'Bedclothes service', class: 'control-label'
        .input-group
          = check_box_tag 'reservation[bedclothes_service]', |
                          true, |
                          @reservation.bedclothes_service

  - unless @reservation.visitor.new_record?

    .voffset5
      = render partial: 'shared/visitor', object: @reservation.visitor, as: :visitor

  - else

    %h3.text-primary.voffset6
      Visitor

    .row.form-inline.voffset4

      .col-lg-3.form-group
        = label_tag 'visitor_firstname', 'Firstname', class: 'control-label'
        = text_field_tag 'visitor[firstname]', |
                         @reservation.visitor.firstname, |
                         class: 'form-control'

      .col-lg-3.form-group
        = label_tag 'visitor_lastname', 'Lastname', class: 'control-label'
        = text_field_tag 'visitor[lastname]', |
                         @reservation.visitor.lastname, |
                         class: 'form-control'

    .row.form-inline.voffset4

      .col-lg-3.form-group
        = label_tag 'visitor_street', 'Street', class: 'control-label'
        = text_field_tag 'visitor[street]', |
                         @reservation.visitor.street, |
                         class: 'form-control'

      .col-lg-3.form-group
        = label_tag 'visitor_zip', 'Postal code', class: 'control-label'
        = text_field_tag 'visitor[zip]', |
                         @reservation.visitor.zip, |
                         class: 'form-control'

      .col-lg-3.form-group
        = label_tag 'visitor_city', 'City', class: 'control-label'
        = text_field_tag 'visitor[city]', |
                         @reservation.visitor.city, |
                         class: 'form-control'

      .col-lg-3.form-group
        = label_tag 'visitor_country', 'Country', class: 'control-label'
        = country_select 'visitor', 'country', |
                         { priority_countries: ['SK'] }, |
                         { selected: @reservation.visitor.country, |
                           class: 'form-control' }

    .row.form-inline.voffset4

      .col-lg-3.form-group
        = label_tag 'visitor_mobile', 'Mobile', class: 'control-label'
        = phone_field_tag 'visitor[mobile]', |
                          @reservation.visitor.mobile, |
                          class: 'form-control'

      .col-lg-3.form-group
        = label_tag 'visitor_phone', 'Phone', class: 'control-label'
        = phone_field_tag 'visitor[phone]', |
                          @reservation.visitor.phone, |
                          class: 'form-control'

      .col-lg-3.form-group
        = label_tag 'visitor_email', 'Email', class: 'control-label'
        = email_field_tag 'visitor[email]', |
                          @reservation.visitor.email, |
                          class: 'form-control'

  .form-inline

    .form-group.voffset5
      = button_tag 'Send', class: 'btn btn-success'
      = link_to 'Cancel', |
                { controller: 'reservations', action: 'index', future: true }, |
                role: 'button', |
                class: 'btn btn-s btn-default'
