= form_for @reservation, url: reservations_path, html: {role: "form"} do |reservation_form|

  .form-inline

    %h3.text-primary
      Reservation

    .row.voffset4
      .col-lg-3.form-group
        = reservation_form.label :arrival, class: "control-label"
        = reservation_form.date_field :arrival, class: "form-control", value: l(@reservation.arrival)

      .col-lg-3.form-group
        = reservation_form.label :departure, class: "control-label"
        = reservation_form.date_field :departure, class: "form-control", value: l(@reservation.departure)

      .col-lg-1.form-group
        = reservation_form.label :adults, "Adults", class: "control-label"
        = reservation_form.select :adults, 1..9, value: @reservation.adults, class: "form-control"

      .col-lg-1.form-group
        = reservation_form.label :children, "Children", class: "control-label"
        = reservation_form.select :children, 0..9, value: @reservation.children, class: "form-control"

      .col-lg-2.form-group
        = reservation_form.label :bedroom_service, "Bedclothes service", class: "control-label"
        .input-group
          = reservation_form.check_box :bedroom_service, checked: @reservation.bedclothes_service

  = reservation_form.fields_for :visitor_attributes do |visitor_fields|

    %h3.text-primary.voffset6
      Visitor

    .row.form-inline.voffset4

      .col-lg-3.form-group
        = visitor_fields.label :firstname, class: "control-label"
        = visitor_fields.text_field :firstname, class: "form-control", value: @reservation.visitor.firstname

      .col-lg-3.form-group
        = visitor_fields.label :lastname, class: "control-label"
        = visitor_fields.text_field :lastname, class: "form-control", value: @reservation.visitor.lastname

    .row.form-inline.voffset4

      .col-lg-3.form-group
        = visitor_fields.label :street, class: "control-label"
        = visitor_fields.text_field :street, class: "form-control", value: @reservation.visitor.street

      .col-lg-3.form-group
        = visitor_fields.label :zip, class: "control-label"
        = visitor_fields.text_field :zip, class: "form-control", value: @reservation.visitor.zip

      .col-lg-3.form-group
        = visitor_fields.label :city, class: "control-label"
        = visitor_fields.text_field :city, class: "form-control", value: @reservation.visitor.city

      .col-lg-3.form-group
        = visitor_fields.label :country, class: "control-label"
        - c = @reservation.visitor.country
        = visitor_fields.country_select :country, class: "form-control", value: @reservation.visitor.country

    .row.form-inline.voffset4

      .col-lg-3.form-group
        = visitor_fields.label :mobile, class: "control-label"
        = visitor_fields.phone_field :mobile, class: "form-control", value: @reservation.visitor.mobile

      .col-lg-3.form-group
        = visitor_fields.label :phone, class: "control-label"
        = visitor_fields.phone_field :phone, class: "form-control", value: @reservation.visitor.phone

      .col-lg-3.form-group
        = visitor_fields.label :email, class: "control-label"
        = visitor_fields.email_field :email, class: "form-control", value: @reservation.visitor.email

  .form-inline

    .form-group.voffset4
      = reservation_form.button "Send", class: "btn btn-primary"

:coffeescript

  jQuery ->
    $("#reservation_arrival, #reservation_departure").datepicker
      dateFormat: "dd.mm.yy"
      beforeShowDay: do ->
        reservedDays = #{Reservation.reserved_dates_from_today.to_json}
        (date) ->
          ymd = date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + date.getDate()
          if $.inArray(ymd, reservedDays) < 0 then [true, ""] else [false, ""]
