%h3.text-primary
  Reservation

.row.voffset4
  .col-lg-3
    = label_tag :arrival
    %div
      = l @reservation.arrival
  .col-lg-3
    = label_tag :departure
    %div
      = l @reservation.departure
  .col-lg-1
    = label_tag :adults
    %div
      = @reservation.adults
  .col-lg-1
    = label_tag :children
    %div
      = @reservation.children
  .col-lg-2
    = label_tag :bedclothes_service
    %div
      = @reservation.bedclothes_service ? 'Yes' : 'No'

.voffset5
  = render partial: 'shared/visitor', object: @reservation.visitor, as: :visitor

.row.form-inline.voffset4
  .col-lg-3
    = link_to "Edit", { controller: 'reservations', action: 'edit', id: @reservation }, role: "button", class: "btn btn-s btn-primary"
    = link_to "Delete", @reservation, method: :delete, role: "button", class: "btn btn-s btn-danger"
