!!! 5

%html

  %head

    %title= "Almet 205"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield :head

  %body
    %nav.navbar.navbar-default{role: "navigation"}
      .container
        .navbar-header
          .navbar-brand
            %b
              Almet 205
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle{:"data-toggle" => "dropdown", :href => "#"}
                Reservations
                %b.caret
              %ul.dropdown-menu{role: "menu"}
                %li
                  %a{href: new_reservation_path}
                    New
                %li
                  %a{href: reservations_path(present: true, future: true)}
                    Now and future
                %li
                  %a{href: reservations_path(past: true)}
                    Past
            %li
              %a{href: "#"}
                Customers
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "#"}
                Login

    .container

      - if flash[:success]
        .alert.alert-success
          = flash[:success]
      - elsif flash[:error]
        .alert.alert-danger
          = flash[:error]

      = yield
